<div class="d-flex justify-content-between bg-light align-items-center">
  <%= link_to "FriendSearch", users_path, class:"btn fs-2 mx-4" %>
  <%= link_to "新しいユーザーを登録する", new_user_path, class:"btn mx-2 text-secondary" %>
</div>